$primary: #F50057FF; // rgba(245, 0, 87, 1)
$secondary: #2962FFFF; // rgba(41, 98, 255, 1)
$success: #2E7D32FF; // rgba(46, 125, 50, 1)
$info: #D500F9FF; // rgba(213, 0, 249, 1)
$warning: #EF6C00FF; // rgba(239, 108, 0, 1)
$error: #FF3D00FF; // rgba(255, 61, 0, 1)

$oliver: #B3EE3AFF; // rgba(179, 238, 58, 1)
$green: #4EEE94FF; // rgba(78, 238, 148, 1)

$black: #010101FF; // rgba(1, 1, 1, 1)
$dark: #333F; // rgba(51, 51, 51, 1)
$gray: #616161FF; // rgba(97, 97, 97, 1)
$white: #FAFAFAFF; // rgba(250, 250, 250, 1)
