@import './color.scss';
@import './mixin.scss';

html {
  min-height: 100vh;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}

body {
  @include black(1);
  @include white-bg(1);
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  // overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Noto Sans',
    'Droid Sans Mono', 'PingFang SC', system-ui, sans-serif;
  letter-spacing: 0.01rem;
}

#root {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  // overflow: hidden;
}

::selection {
  @include white(1);
  @include secondary-bg(1);
}
